<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Voice Todo Ai" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- ✅ Only load application.css which includes Tailwind build -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white text-gray-800 font-sans">
    <main class="container mx-auto mt-10 px-5">
      <%= yield %>
    </main>
  </body>
</html>
